.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1% 1% 0 1%;
  border-bottom: 1px solid black;
  background: rgb(223, 222, 210);
}

.nav-mode {
  display: flex;
  justify-content: space-evenly;
}
.toggle-btn {
  margin-top: 8%;
  margin-left: 3%;
}
.balance {
  margin-top: 10px;
  margin-bottom: 20px;
}
.balance-total {
  margin: 10px 0px 0px 20%;
}

.expense-tracker-container {
  display: grid;
  place-items: center;
  min-height: 89vh;
  padding-bottom: 5%;
}

.income-exp-container {
  display: flex;
  width: 30%;
  font-size: 1.4em;
  padding: 1%;
  padding-bottom: 5%;
  height: 10vh;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#money-plus {
  color: rgb(76, 210, 76);
}
#money-minus {
  color: rgb(201, 86, 86);
}

.money {
  margin-top: -15px;
}
h4 {
  text-transform: uppercase;
}
h3 {
  border-bottom: 1px solid black;
  width: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.list {
  margin-top: 0%;
  list-style: none;
  width: 40%;
}

.list-item {
  padding: 1%;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
}

.minus {
  border: 1px solid black;
  border-right: 5px solid red;
  margin: 10px 0px 10px 0px;
}
.plus {
  border: 1px solid black;
  border-right: 5px solid rgb(42, 193, 42);

  margin: 10px 0px 10px 0px;
}

.list-item:hover > .delete-btn {
  display: block;
}

.delete-btn {
  background: rgb(240, 82, 82);
  color: white;
  position: absolute;
  left: 31.4%;
  display: none;
}

span {
  margin-right: 1%;
  margin-top: 1%;
}

.form-control {
  display: block;
}

label {
  font-size: 1.2em;
}

input {
  display: block;
  margin-top: 1%;
  padding: 0.7%;
  width: 100%;
  padding: 2%;
}

.btn {
  margin-top: 5%;
  width: 100%;
  padding: 1%;
  font-size: 1.5em;
  background: rgb(223, 222, 210);
}

@media only screen and (max-width: 600px) {
  .expense-tracker-container {
    width: 100%;
    left: 1%;
    font-size: 1.2em;
    min-height: 93vh;
  }
  input,
  .income-exp-container,
  h3 {
    width: 90%;
    padding: 3%;
  }
  .list {
    width: 90%;
  }

  .list-item {
    padding: 5%;
    margin-left: -9%;
  }
  .delete-btn {
    left: 2%;
  }

  .btn {
    margin-top: 1%;
    width: 97%;
    padding: 2%;
    font-size: 25px;
    margin-top: 20px;
  }

  label {
    font-size: 1.1em;
  }
}
